* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  place-content: center;
  height: 100vh;
  background-image: url(images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.upcard {
  height: 170px;
  width: 325px;
  background-color: blue;
  border-radius: 1rem;
  background-image: url(images/bg-pattern-card.svg);
}

.bottomcard {
  background-color: white;
  height: 250px;
  width: 325px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.pfp {
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 4rem;
  border: white solid 5px;
  top: -5.5rem;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
