* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  place-content: center;
  min-height: 100vh;
  background-image: url(images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.upcard {
  height: 170px;
  width: 350px;
  background-color: blue;
  border-radius: 1rem;
  background-image: url(images/bg-pattern-card.svg);
}

.bottomcard {
  background-color: white;
  height: 250px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
